<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
	</typeAliases>
	
	<!-- <plugins>
        <plugin interceptor="com.jd.common.mybatis.DaoLogPlugin">
            <property name="umpAppName" value="rebate_jd_com"/>
            <property name="prefix" value="rebate.DAO."/>
            <property name="keyRex" value="^.*\.dao\."/>
        </plugin>
    </plugins> -->

</configuration>
